body{font-family:"Lucida Grande",Arial,Helvetica,sans-serif;background:#A8C1CF;}

h1 {color:#12435F;text-shadow:1px 1px 3px #fff, -1px -1px 3px rgba(0,0,0,0.2);}
label {color:#000;text-shadow:1px 1px 3px #fff, -1px -1px 3px rgba(0,0,0,0.2);width:250px;text-align:right;display:block;float:left;margin-top:5px;margin-right:10px;}
label.error {float:none;position:absolute;right:-420px;width:400px;top:0;display:inline;text-align:left;color:#8F2500;}
input[type=text],textarea {width:200px;font-family:"Lucida Grande",Arial,Helvetica,sans-serif;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;border:1px solid #000;padding:5px;font-size:14px;-moz-box-shadow:1px 1px 3px #fff, -1px -1px 3px rgba(0,0,0,0.2);}
p{width:100%;text-align:center;position:relative;}

fieldset {float:left;-moz-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px 30px;}