#{extends 'main.html' /}

#{jqvalidate.javascripts tagValue:'moreScripts', additionalMethods:true, defaultComponent:true /}

<h1>Play! JQuery Form Validation Example</h1>

<fieldset>
<legend>Create a task</legend>
#{jqvalid.form @Application.save()}
  	#{jqvalid.field 'task.details'}
		<p>
		  <label>&{field.name}</label>
		  <textarea data-validate="${field.validationData}" id="${field.id}" name="${field.name}" class="${field.errorClass}">${field.value}</textarea>
		  <label class="error">${field.error}</label>
		</p>
	#{/}
	#{jqvalid.field 'task.priority'}
		<p>
		  <label>&{field.name}</label>
		  <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		  <label class="error">${field.error}</label>
		</p>
	#{/}
	#{jqvalid.field 'task.authorEmail'}
		<p>
		  <label>&{field.name}</label>
		  <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		  <label class="error">${field.error}</label>
		</p>
	#{/}
	#{jqvalid.field 'task.authorUrl'}
		<p>
		  <label>&{field.name}</label>
		  <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		  <label class="error">${field.error}</label>
		</p>
	#{/}
	#{jqvalid.field 'task.authorIPv4'}
		<p>
		  <label>&{field.name}</label>
		  <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		  <label class="error">${field.error}</label>
		</p>
	#{/}
  #{jqvalid.field 'task.authorIPv6'}
    <p>
      <label>&{field.name}</label>
      <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
      <label class="error">${field.error}</label>
    </p>
  #{/}
  
  #{jqvalid.field 'task.authorPhone'}
    <p>
      <label>&{field.name}</label>
      <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
      <label class="error">${field.error}</label>
    </p>
  #{/}
  
   #{jqvalid.field 'task.countryAbbreviation'}
    <p>
      <label>&{field.name}</label>
      <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
      <label class="error">${field.error}</label>
    </p>
  #{/}
  
   #{jqvalid.field 'task.creditCardNumber'}
    <p>
      <label>&{field.name}</label>
      <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
      <label class="error">${field.error}</label>
    </p>
  #{/jqvalid.field}
  
  #{jqvalid.field 'task.color'}
    <p>
      <label>&{field.name}</label>
      <input type="text" data-validate="${field.validationData}" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
      <label class="error">${field.error}</label>
    </p>
  #{/jqvalid.field}

	<p>
		<input type="submit" value='Create Task'>
	</p>
#{/jqvalid.form}
</fieldset>


<a href="http://github.com/murz/play-jqvalidate"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>