#{extends 'main.html' /}

#{jqvalidate.javascripts tagValue:'moreScripts', additionalMethods:true, defaultComponent:true /}

<h1>Play! JQuery Form Validation Example</h1>

#{if flash.error || flash.success}
<div id="msg-area" class="alert-box #{if flash.error}alert#{/if}#{else}success#{/else}">
${flash.error}${flash.success}
</div>
#{/if}

<fieldset>
<legend>Create a task</legend>
#{jqvalid.form @Application.saveElement()}
  	#{jqvalid.field 'task.noValidation'}
		<p id="${field.name.slugify()}">
		  <label>&{field.name}</label>     
		  <textarea ${field.validationData.rules.asAttr()} ${field.validationData.messages.asAttr()} id="${field.id}" name="${field.name}" class="${field.errorClass}">${field.value}</textarea>
		  <label class="error">${field.error}</label>
		</p>
	#{/}
  
    #{jqvalid.field 'task.requiredValidation'}
    <p id="${field.name.slugify()}">
      <label>&{field.name}</label>     
      <textarea ${field.validationData.rules.asAttr()} ${field.validationData.messages.asAttr()} id="${field.id}" name="${field.name}" class="${field.errorClass}">${field.value}</textarea>
      <label class="error">${field.error}</label>
    </p>
  #{/}
	<p>
		<input type="submit" value='Create Task'>
	</p>
#{/jqvalid.form}
</fieldset>